@page "/"

@inject ICustomerService _customerService
@inject NavigationManager Navigation

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class=" d-flex justify-content-start">
                <h3>Customers List</h3>
            </div>
        </div>
        <div class="col-sm-6">
            <div class=" d-flex justify-content-end">
                <button class="btn btn-outline-primary" @onclick="() => NavigateToCustomerDetails(0)">
                    Customers Details
                </button>
            </div>
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    MpCode
                </th>
                <th>
                    Street
                </th>
                <th>
                    Serial Number
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var customer in CustomerList)
            {
                <tr>
                    <td>
                        @customer.Name
                    </td>
                    <td>
                        @customer.MpCode
                    </td>
                    <td>
                        @customer.Street
                    </td>
                    <td>
                        @customer.SerialNo
                    </td>
                                    
                </tr>
            }
        </tbody>
    </table>
</div>

@code {
    private void NavigateToCustomerDetails(int? Id) => Navigation.NavigateTo($"customerDetails/{Id}");
    public List<Customer> CustomerList;

    protected override async Task OnInitializedAsync()
    {
        CustomerList = await _customerService.GetAllCustomersAsync();
    }
}
