@page "/valuesList/{customerId:int}"
@using DataAccess.Library
@using DataAccess.Library.Services
@inject NavigationManager Navigation
@inject IValueService _valueService;
@inject ICustomerService _customerService

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class=" d-flex justify-content-Start">
                <h3>Values List For: @SelectedCustomer?.Name</h3>
            </div>
        </div> 
        <div class="col-sm-3">
            <div class=" d-flex justify-content-end">
                <button class="btn btn-outline-primary" @onclick="NavigateToCustomersList">
                    Customers List
                </button>
            </div>
        </div>
        <div class="col-sm-3">
            <div class=" d-flex justify-content-end">
                <button class="btn btn-primary" @onclick="NavigateToValuesDetails">
                    New Value
                </button>
            </div>
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>
                    Reg1Value
                </th>
                <th>
                    RegDate
                </th>
                <th>
                    VlueTypeDescription
                </th>
                <th>
                    ValueTypeUnit
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var value in CustomerValues)
            {
                <tr>
                    <td>
                        @value.Reg1Value
                    </td>
                    <td>
                        @value.RegDate
                    </td>
                    <td>
                        @value.ValueTypeDescription
                    </td>
                    <td>
                        @value.ValueTypeUnit
                    </td>
                    <td></td>
                </tr>
            }
        </tbody>
    </table>
</div>

@code {
    [Parameter]
    public int CustomerId { get; set; }
    public Customer? SelectedCustomer { get; set; }
    public List<Value>? CustomerValues { get; set; }
    private void NavigateToCustomersList() => Navigation.NavigateTo("customersList");
    private void NavigateToValuesDetails() => Navigation.NavigateTo("valueDetails");

    public List<Value> ValuesListData;
    private DisplayValueModel ValueModel = new DisplayValueModel();

    protected override async Task OnInitializedAsync()
    {
        CustomerValues = await _valueService.GetValuesByIdAsync(CustomerId);
        SelectedCustomer = await _customerService.GetCustomerByIdAsync(CustomerId);
    }

    private async Task LoadCustomer(int customerId)
    {
        SelectedCustomer = await _customerService.GetCustomerByIdAsync(customerId);
    }

    private async Task AddValues()
    {
        Value Value = new Value
        {
            Reg1Value = ValueModel.Reg1Value,
            RegDate = ValueModel.RegDate,
            ValueTypeDescription = ValueModel.ValueTypeDescription,
            ValueTypeUnit = ValueModel.ValueTypeUnit
        };
        if (SelectedCustomer is not null)
        {
            SelectedCustomer.Values.Add(Value);
            await _valueService.AddValueAsync(Value);
            ValuesListData.Add(Value);
        }
    }
}
